@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans';
  src: url('../public/assets/fonts/NotoSans.woff');
}

@font-face {
  font-family: 'Belleza';
  src: url('../public/assets//fonts/Belleza-Regular.woff');
}

* {
  font-family: 'Noto Sans';
}

.with-user-icon {
  font-size: 16px;
  background: url('../public/assets/img/user-icon.svg') no-repeat 0px 0px;
  background-size: auto 28px;
  padding-left: 35px;
}

.arrow-bottom::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid #818386;
  border-right: 2px solid #818386;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 5px;
}


/* Track */
.mobile-links-scrollbar::-webkit-scrollbar {
  width: 2px;
  overflow-y: auto;
}

.mobile-links-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Thumb */
.mobile-links-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.mobile-links-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.full-arrow-bottom::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #869181;
}

.items-center {
  @apply flex;
  align-items: center;
}